<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
        
    <main>
    
        <form  action="/host/add-home" method="POST" class="house-form" method="post" >
            <h1> Register your home</h1>
            
            <label for="HouseName">House Name</label>
            <input type="text" id="HouseName" name="HouseName" placeholder="Enter house name" required>

            <label for="price">Price (Rs/month)</label>
            <input type="number" id="price" name="price" placeholder="1200" required>

            <label for="location">Location</label>
            <input type="text" id="location" name="location" placeholder="Austin, TX" required>

            <label for="rating">Rating</label>
            <input type="number" step="0.1" id="rating" name="rating" placeholder="4.8" required>

            <label for="photoUrl">Image URL</label>
            <input type="url" id="photoUrl" name="photoUrl" placeholder="https://example.com/image.jpg" required>

            <button type="submit">Add House</button>
        </form>
    </main>
</body>
</html>