<header>
    <nav class="navbar">
    <a href="/" class="logo">MySite</a>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Bookings">Bookings</a></li>

      <% if(isLoggedin){ %>
        <li><a href="/favourite_list">Favourites</a></li>
      <li><a href="/host/add-home">Add Home</a></li>
      <li><a href="/host/home">Host Homes</a></li>
      <% }%>
    </ul>
    <% if(isLoggedin){ %>
      <form 
      action="/logout" 
      method="POST">
        <button type="submit" class="login-btn">Logout</button>
      </form>
    <% } else{ %>
      <a href="/login" class="login-btn">Login</a>
    <% } %>
  </nav>
</header>