<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add home</title>
</head>
<body>
    <header>
        <h1> Register your home</h1>
    </header>
    <main>
        <form action="/host/add-home" method="POST">
        <br>
        <label for="HouseName">Enter your House Name</label>
        <br>
        <input type="text" id="HouseName" name="HouseName" placeholder="HouseName..."></input>

        <br><br>
        <button type="submit">send</button>
        </form>
    </main>
</body>
</html>